
    @media (max-width:319px) and (min-width:0px) {
        .videogame {
            width: 100%;
            min-height: 170px!important;
            background-image: none!important
        }
        .videogame .promo_des_price {
            position: absolute;
            top: 28px;
            text-align: left;
            width: 95%;
            margin-left: 13px
        }
        .fsi .videogame .dynamic {
            position: absolute;
            bottom: 15px;
            left: 5px;
            margin-right: 1%;
            width: 90%;
            zoom: .8
        }
        .fsi .dynamic .sidebar-price-list .price-row {
            text-align: left;
            margin-left: 10px;
            padding-bottom: 5px
        }
        a,
        a:active,
        a:focus,
        a:hover,
        a:visited {
            outline: 0!important;
            text-decoration: none;
            color: #333;
            font-size: 15px!important
        }
    }

    @media (max-width:359px) and (min-width:200px) {
        .fsi .videogame .dynamic {
            position: absolute;
            bottom: 38px;
            left: 35px;
            width: 40%;
            margin-right: 1%
        }
        .fsi .dynamic .sidebar-price-list .price-row {
            text-align: left;
            margin-left: 10px
        }
    }

    @media (min-width:360px) {
        .fsi .videogame .dynamic {
            position: absolute;
            bottom: 18px;
            left: 20px;
            width: 40%;
            margin-right: 1%;
            zoom: .8
        }
        .fsi .dynamic .sidebar-price-list .price-row {
            margin-bottom: 0!important;
            text-align: left
        }
    }

    @media (min-width:375px) {
        .fsi .videogame .dynamic {
            position: absolute;
            bottom: 38px;
            left: 35px;
            width: 40%;
            margin-right: 1%
        }
    }

    @media (max-width:767px) and (min-width:413px) {
        .videogame {
            width: 50%;
            min-height: 215px!important
        }
        .fsi .videogame .dynamic {
            position: absolute;
            bottom: 38px;
            left: 35px;
            width: 100%;
            margin-right: 1%
        }
        .product .product-content .description {
            zoom: .8
        }
        .product .price {
            font-size: 16px;
            zoom: .8
        }
        .fsi .product {
            min-width: 33.333%;
            max-width: 33.333%;
            float: left;
            border-bottom: 1px solid #999;
            border-right: 1px solid #999
        }
    }

    @media (width:640px) {
        .fsi .dynamic .sidebar-price-list .price-row {
            display: none
        }
        .fsi .dynamic .sidebar-price-list .price-row:nth-of-type(2) {
            display: block
        }
    }

    @media (width:667px) {
        .fsi .videogame .dynamic {
            position: absolute;
            bottom: 18px;
            left: 35px;
            width: 40%;
            margin-right: 1%
        }
    }

    @media (width:736px) {
        .fsi .videogame .dynamic {
            position: absolute;
            bottom: 18px;
            left: 35px;
            width: 40%;
            margin-right: 1%
        }
    }

    @media (min-width:768px) {
        .product .product-content .description {
            display: block;
            padding-top: 10px;
            width: 60%
        }
        .fsi .product {
            min-width: 33.333%;
            max-width: 33.333%;
            border-right: 1px solid #ccc;
            min-height: 292px;
            max-height: 292px
        }
        .fsi .product .product-content {
            min-height: 290px!important;
            max-height: 290px!important
        }
        #ae1 {
            float: right;
            margin-top: -3px;
            font-size: 12px;
            min-width: 117px;
            margin-right: 0
        }
        .videogame {
            width: 49.5%
        }
        div.shop {
            position: absolute;
            width: 95%;
            bottom: 15px
        }
        .product .price,
        .product h2.model,
        .product span.model,
        .product ul.item-desc {
            font-size: 14px;
            zoom: .8
        }
        .fsi .dynamic .sidebar-price-list .price-row {
            text-align: left;
            margin-left: 30px
        }
        .videogame66b {
            width: 66.66%;
            min-height: 360px!important
        }
        .videogame33,
        .videogame33b {
            width: 33.33%;
            min-height: 180px!important
        }
        .videogame33 {
            border: 0
        }
        .fsi .videogame33 .dynamic {
            bottom: 56px!important;
            zoom: .7;
            left: 0;
            width: 45%
        }
        .fsi .videogame33b .dynamic {
            bottom: 36px!important;
            zoom: .7;
            left: -5px
        }
        .fsi .videogame66b .dynamic {
            bottom: 50px!important
        }
        .fsi .videogame33 .dynamic .sidebar-price-list .price-row,
        .fsi .videogame33b .dynamic .sidebar-price-list .price-row {
            text-align: left
        }
        #submenu {
            min-height: 75px
        }
    }

    @media (max-width:1023px) and (min-width:769px) {
        .videogame {
            min-height: 280px!important
        }
        .videogame33,
        .videogame33b {
            min-height: 180px!important
        }
        .fsi .videogame33 .dynamic {
            bottom: 30px!important;
            left: 0;
            width: 45%;
            zoom: .8
        }
        .fixed_menu {
            top: 0!important
        }
    }

    @media (min-width:1024px) {
        .product .product-content .image img {
            display: block;
            margin: -3px auto 0 28%;
            position: absolute;
            z-index: 0;
            min-width: 28%;
            min-height: 174px
        }
        .getlarge .product .product-content .image img {
            display: block;
            margin: -3px auto 0 4%;
            position: absolute;
            z-index: 0;
            min-width: inherit;
            min-height: 100%
        }
        .getlarge .description {
            width: 50%!important;
            right: 5%;
            position: absolute;
            top: 20px;
            text-align: right
        }
        .product .product-content .description {
            width: 60%!important;
            padding-top: 22px
        }
        .fsi .product {
            min-height: 267px max-height:267px
        }
        .getlarge .product .product-content .description {
            padding-top: 20px
        }
        div.shop {
            bottom: 23px
        }
        .getlarge div.shop {
            bottom: 5px
        }
        .fsi .product .product-content {
            min-height: 255px max-height:255px
        }
        .productimage img {
            max-height: 297px
        }
        .productimage {
            max-height: 297px!important
        }
        #ae1 {
            float: right;
            margin-top: 3px;
            font-size: 12px;
            min-width: 117px;
            margin-right: 30px
        }
        .fixed_menu2 {
            height: 40px!important
        }
        .videogame66b {
            width: 66%;
            min-height: 460px!important
        }
        .videogame33,
        .videogame33b {
            width: 33%;
            min-height: 230px!important
        }
        .videogame33 {
            border: 0
        }
        .fsi .videogame33 .dynamic {
            bottom: 12%!important;
            zoom: .9;
            left: 20px;
            width: 45%
        }
        .fsi .videogame33b .dynamic {
            bottom: 12%!important;
            zoom: .9;
            left: 20px;
            width: 50%
        }
        .fsi .getlarge .product {
            min-height: 167px!important;
            max-height: 267px!important
        }
        .fsi .getlarge .product-content {
            min-height: 154px!important;
            max-height: 255px!important
        }
    }
